.card {
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.registrations {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    max-width: 95%;
}